img{
    height: 100%;
    width: 100%; 
}
.container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.right{
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
}
.left{
    height: 100%;
    width: 100%;
}
