<app-navbar></app-navbar>
<!-- Success Alert -->
<div *ngIf="Added" class="fixed top-0 left-1/2 transform -translate-x-1/2 mt-4 w-full max-w-md z-50 fade-out">
  <div class="alert alert-success flex items-center justify-center py-2 px-4 rounded shadow-md">
    <svg class="bi flex-shrink-0 mr-2" role="img" aria-label="Success:" style="width: 1.5em; height: 1.5em;">
      <use xlink:href="#check-circle-fill"/>
    </svg>
    <span>Trip Successfully Added!</span>
  </div>
</div>
<div class="container">
  <h1>Add Trip</h1>
  <div class="form-container">
    <form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="destination">Destination</label>
        <input type="text" id="destination" formControlName="destination" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" formControlName="description" required>
      </div>
      <div class="form-group">
        <label for="activities">Activities</label>
        <textarea id="activities" formControlName="activities" rows="4" required></textarea>
      </div>
      <div class="form-group">
        <label for="start">Start Date:</label>
        <input type="date" id="start" formControlName="startDate" required>
      </div>
      <div class="form-group">
        <label for="end">End Date:</label>
        <input type="date" id="end" formControlName="endDate" required>
      </div>
      <!-- <div class="form-group">
        <input type="file" (change)="onFileChange($event)">
      </div> -->
      <button type="submit" class="submit-button">Add Trip</button>
    </form>
  </div>
</div>
