<!-- <div>
   <section class="hero">
     <div class="logo">
       <img src="/assets/event.jpg" alt="TripMate Logo" width="150" height="150">
     </div>
     <div class="hero-content">
       <h2>Welcome to TripMate</h2>
       <p>Your ultimate travel companion. Plan, organize, and enjoy your trips with ease.</p>
     </div>
     <a href="register.html" class="btn primary-btn">Get Started</a>
   </section> -->
   
 <!-- </div> -->
 <div class="container">
   <div class="auth-container">
      <div class="logo">
         <img src="/assets/event.jpg" alt="TripMate Logo" width="150" height="150">
     </div>       
       <div class="auth-form">
           <h2>Welcome to TripMate</h2>
           <p>Your ultimate travel companion. Plan, organize, and enjoy your trips with ease.</p>
       </div>
   </div>
   <a href="register.html" class="btn primary-btn">Get Started</a>
</div>

 