/* Reset default margin and padding of the body */
.container {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../../assets/image copy.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

.auth-container {
    background: rgba(46, 46, 46, 0.8);
    padding: 40px;
    border-radius: 15px;
    width: 380px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
}

.auth-form h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #52b69a;
}

.auth-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #52b69a;
    font-weight: bolder;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: #3ac19a;
}

p {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #52b69a;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

img {
    border-radius: 50%;
    padding: 10px;
    border: 3px solid #52b69a;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
