<app-navbar></app-navbar>
    <div class="container">
        <h1>Trips</h1>
        <div class="recipes-container" id="recipes-container">
            <div class="card" style="width: 20rem;">
                <img src="/assets/image copy.png" class="card-img-top" alt="..." style="height: 300px;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn">View</a>
                  <a href="#" class="btn">Update</a>
                  <a href="#" class="btn">Delete</a>
                </div>
              </div>
        </div>
    </div>

