body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.container {
    margin-top: 40px;
    width: 90%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #2d5f51;
}

.form-container, .recipes-container {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #D82E4A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #b7253a;
}

.recipes-container {
    margin-top: 30px;

}

.recipe-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.card{
    padding: 20px;
    margin: 20px;
}
.recipe-card h3 {
    margin-top: 0;
    color: #D82E4A;
}

.delete-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c9302c;
}
.btn{
    background-color: #52b69a;
    color: white;
    margin: 5px;
}
button{
    background-color: #5ef0c6 ;
    border: none;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    color: white;
}
