<!-- Success Alert -->
<div *ngIf="registerSuccess" class="fixed top-0 left-1/2 transform -translate-x-1/2 mt-4 w-full max-w-md z-50 fade-out">
    <div class="alert alert-success flex items-center justify-center py-2 px-4 rounded shadow-md">
      <svg class="bi flex-shrink-0 mr-2" role="img" aria-label="Success:" style="width: 1.5em; height: 1.5em;">
        <use xlink:href="#check-circle-fill"/>
      </svg>
      <span>Successfully Registerd!</span>
    </div>
  </div>
  
  <!-- Failure Alert -->
  <div *ngIf="registerFailed" class="fixed top-0 left-1/2 transform -translate-x-1/2 mt-4 w-full max-w-md z-50 fade-out">
    <div class="alert alert-danger flex items-center justify-center py-2 px-4 rounded shadow-md">
      <svg class="bi flex-shrink-0 mr-2" role="img" aria-label="Error:" style="width: 1.5em; height: 1.5em;">
        <use xlink:href="#exclamation-triangle-fill"/>
      </svg>
      <span>Registration failed. Try again!!</span>
    </div>
  </div>
<!-- login.component.html -->
<div class="container">
    <div class="auth-container">
        <div class="auth-form">
            <div class="logo">
                <img src="/assets/event.jpg" alt="TripMate Logo" width="150" height="150">
            </div>
            <h2>Register at TripMate</h2>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" id="register-form">
                <div class="form-group">
                    <label for="name">Full Name:</label>
                    <input type="text" id="name" formControlName="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" formControlName="password" required>
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirm Password:</label>
                    <input type="password" id="cpassword" formControlName="cpassword" required>
                </div>
                <button type="submit" class="auth-button">Register</button>
            </form>
            <p>Already have an account? <a routerLink="/login">Login</a></p>
        </div>
    </div>
</div>
